<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container-fluid main-div">
        <div class="container center-div">
            <div class="row bg-dark rad">
                <!-- img part -->
                <div class="col-md-12 col-12 img-div">
                    <figure>
                        <img src="./image/584d91fc367b6a13e54477f4.png" alt="" srcset="">
                    </figure>
                </div>
            </div>
            <div class="row bg-light">
                <!-- about us part -->
                <div class="col-md-12 col-12 about-div">
                    <h3> Level 1</h3>
                    <h1>The barberian</h1>
                    <p>The Barbarian King is an immortal unit, so he only has to be summoned once. However, if he is
                        injured or falls in battle, he must regenerate his health by sleeping for a period of time
                        before he can be used again. If you attack a village while its Barbarian King is still
                        regenerating, the Altar will be empty.</p>
                </div>
            </div>
            <div class="row radi">
                <div class="col-md-4 col-4 lower-div">
                    <p>16 <br> Speed</p>
                </div>
                <div class="col-md-4 col-4 lower-div">
                    <p>20 <sup>s</sup><br>Traning</p>
                </div>
                <div class="col-md-4 col-4 lower-div">
                    <p>0.4 <br> Range</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>